
#Box_title {
    margin-left: 660px;
    font-size: 50px;
    font-family: "Courrier New", monospace;
    font-weight: bold;
    padding : 20px;
    width: 560px;
    background-color: #ee9b3a;
    border-radius: 20px;
}

#Page {
    background-color: #e8842c;
}

#Pipi {
    margin-left: 20px;
    padding: 10px;
    font-family: "Courrier New", monospace;
    font-weight: bold;
    background-color: #ee9b3a;
    border: none;
    border-radius: 5px;
}

#Pipi:hover {
    filter: brightness(0.85);
}

.Pop_up {
    background-color: #ee9b3a;
    border: none;
    border-radius: 30px;
    width: 500px;
}

.Danke {
    padding: 10px;
    font-family: "Courrier New", monospace;
    font-weight: bold;
    background-color: #d9691f;
    border: none;
    border-radius: 20px;
}

.Danke:hover {
    filter: brightness(0.85);
}

.PopText {
    font-weight: bolder;
    font-family: "Courrier New", monospace;
}